.folders-list nav a {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 0.5rem;
	text-decoration: none;
	color: #333;
	border-radius: 4px;
	margin-bottom: 0.5rem;
	transition: background-color 0.2s;
}

.folders-list nav a:hover {
	background-color: #e0e0e0;
}

.folders-list nav a.active-folder {
	background-color: #d2e3fc;
	font-weight: bold;
	color: #1a73e8;
}
.folders-list {
	width: 200px;
	transition: width 0.3s ease;
	background-color: #f1f3f4;
	padding: 1rem;
}

.folders-list.closed {
	width: 60px;
	overflow: hidden;
}

.menu-toggle {
	background: none;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
	margin-bottom: 1rem;
}

.folder-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

nav a {
	text-decoration: none;
	color: #333;
	padding: 0.3rem 0;
}

nav a.active-status {
	font-weight: bold;
	color: black;
	background-color: #c2e7ff;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.folders-list.closed .folder-content {
	display: none;
}
.compose-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: max-content;
    background-color: #c2e7ff;
    border: none;
    border-radius: 24px;
    padding: 20px 24px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.compose-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}
.fa-pencil{
	font-size: 1.4em;

}
.mail-count {
    font-weight: normal;
    color: #666;
    font-size: 0.75rem;
}
.folder-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.folder-label {
    font-size: 0.9rem;
    white-space: nowrap;
}

.mail-count {
    font-size: 0.75rem;
    color: #666;
    margin-left: auto;
}
.folders-list nav a.active-status .mail-count {
    font-weight: bold;
    color: black;
}

