
.mail-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mail-from {
    flex: 1;
    font-weight: 500;
    color: #333;
}

.mail-subject {
    flex: 2;
    color: #555;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-time {
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: #999;
}

.unread {
    background-color: #20148d28; 
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.read {
    background-color: #fff;
    font-weight: normal;
    color: #999;
    font-size: 15px;
}

