.mail-index-layout {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.folders-list {
    width: 240px;
    background-color: #f1f3f4;
    padding: 1rem;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.mail-index {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
};


