.modal-overlay {
	position: fixed; /* Fixes position relative to the viewport */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Ensures it is on top of other elements */
}

.modal-content {
	border-radius: 8px;
	max-width: 600px;
	width: 90%;
	position: relative;
	min-height: 80vh;
	overflow-y: auto; /* Allows scrolling if content is long */
}

.modal-content-wrapper {
	border-radius: 8px;
	padding: 20px;
}

.modal-content-wrapper img {
	width: 100%;
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 28px;
	cursor: pointer;
	border: none;
	background: none;
	color: #555;
}
