/* note index */
.note-index-layout {
	display: grid;
	grid-template-areas: 'nav main';
	grid-template-columns: 240px 1fr;
	height: 100vh;
}

.main {
	grid-area: 'main';
	overflow-y: auto;
	padding: 1rem 2rem;
}

.notes-index {
	width: 75vw;
	margin-left: auto;
	margin-right: 5%;

	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 1fr;
	align-items: start;
	grid-auto-flow: dense;
	break-inside: avoid;
	gap: 1rem; */

	column-count: 5;
	column-gap: 16px;
	padding: 8px;
}

.folders-list {
	grid-area: 'nav';
	/* same shared styles */
}

.input-container {
	margin: 8px;
	height: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-block: 50px;
}

.input-wrapper {
	position: relative; /* Establishes a positioning context */
	display: inline-block; /* Or block, depending on layout needs */
	width: 300px; /* Adjust width as needed */
}

.input-wrapper .inside-button {
	position: absolute; /* Positions the button relative to the wrapper */
	top: 0;
	right: 0;
	height: 100%; /* Makes the button fill the height of the wrapper */
	/* Add other styles for your button (e.g., background, border) */
}

.input-container input {
	width: 40vw;
	border-radius: 8px;
	grid-area: 'main';

	line-height: 25px;
	font-size: 20px;
	padding: 8px;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	margin: 8px;
}

.noteType-btn {
	margin: 5px;
	background: none;
	border: none;
	transform: translate(-180px);
}

.plus-btn {
	background-color: #ffefc3;
	color: #e8bb1a;
	border-radius: 50%;
	border: none;
	transform: translate(-180px);
	line-height: 1;
}

.no-notes-msg {
	padding: 1.5rem;
	font-size: 0.95rem;
	margin: 0.5rem;
}
